
langchain_core
python_dotenv
langchain_community
langserve
streamlit==1.36.0
openai==0.28
langchain_google_genai
google-generativeai
chromadb
faiss-cpu
python-dotenv
PyPDF2
langchain
tiktoken
matplotlib
gradio_client
